@{
    ViewData["Title"] = "Home - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head runat="server">
    <title>Gummi Bear Kingdom</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

   <link rel="stylesheet" href="bootstrap.min.css"/>

   <script src="bootstrap.min.js"></script>

   <link rel="stylesheet" href="bootstrap-theme.min.css"/>

</head>
<body>
    <h2>Welcome to Gummi Bear Kingdom!</h2>

    <h4>The World's Best Gummi Bears and Candies!</h4>
<!--    <p>@Html.ActionLink("Product list", "Index", "Products")</p>
    <p>@Html.ActionLink("About us", "Index", "About")</p>-->

    <h4>Top Rated Products</h4>
        @foreach(var product in Model)
        {          
            <a href='@Url.Action("Details", "Products", new { id = product.ProductId })'><h5>@product.Name</h5></a>
            <p>$@product.Price</p> 
            <p>Average Rating: @product.GetAverageRating()</p>
            <p>@product.Description</p>                
        }

    <a href="@Url.Action("Index", "Products") "class="btn btn-info"">Product List</a> 
    <a href="@Url.Action("Index", "About", "About us") "class="btn btn-info"">About Us</a>
</body>
</html>
