@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<h2>Add a product</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    <input type="submit" value="Create" class="btn btn-success" />
}
    <a href="@Url.Action("Index") "class="btn btn-info"">Back to List</a>