@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Product - Details</title>
</head>
<body>
    <h2>Product Details</h2>
    <hr />
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
        @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)
        @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
        <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>