@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Experience - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
  <head>
    <title>Gummi Bear Kingdom - Edit</title>
  </head>
  <body>
    <h2>Edit Product</h2>
    <hr />
    <h4>Edit this product: @Html.DisplayFor(model => model.Name)
                           @Html.DisplayFor(model => model.Price)
                           @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input type="submit" value="Save" class="btn btn-default" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

  </body>
</html>