@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Experience - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />


<html>
  <head>
    <title>Gummi Bear Kingdom - Edit</title>
  </head>
  <body>
    <h2>Edit This Product</h2>
    <hr />
       <h4>Name: @Html.DisplayFor(model => model.Name)</h4>
       <h4>Price: @Html.DisplayFor(model => model.Price)</h4>
       <h4>Description:</h4> 
       <h5>@Html.DisplayFor(model => model.Description)</h5>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        <br>
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)
        <br>
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
        <br>
        <input type="submit" value="Save" class="btn btn-success"/>
    }
        <br>
        <a href="@Url.Action("Index") "class="btn btn-info"">Back to List</a>

  </body>
</html>