@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Experience - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Product List</h2>
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>

    <ul>
        @foreach(var listProduct in Model)
        {
            <li>
                @Html.DisplayFor(modelProduct => listProduct.Name)
                @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })
            </li>
        }
    </ul>
        <p>@Html.ActionLink("Add new Product", "Create")</p>
        <p>@Html.ActionLink("Home Page", "Index", "Home")</p>
</body>
</html>