@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Product - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Product List</h2>
        
    <ul>
        @foreach(var listProduct in Model)
        {
            <li>
                @Html.DisplayFor(modelProduct => listProduct.Name)
                @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | 
                @Html.ActionLink("Add a Review", "Reviews", new { id = listProduct.ProductId })
            </li>
        }
    </ul>

        <a href="@Url.Action("Create", "Products") "class="btn btn-info"">Add new Product</a> <a href="@Url.Action("Index", "Home") "class="btn btn-info"">Home Page</a>
</body>
</html>