@model IEnumerable<GummiBearKingdom.Models.Review>

@{
    ViewData["Title"] = "Review - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Reviews List</h2>
        
    <ul>
        @foreach(var listReview in Model)
        {
            <li>
                @Html.DisplayFor(modelReview => listReview.Author)
                @Html.DisplayFor(modelReview => listReview.Rating)

                @Html.ActionLink("Details", "Details", new { id = listReview.ReviewId }) | 
                @Html.ActionLink("Add a Review", "Create", new { id = listReview.ReviewId })
            </li>
        }
    </ul>
    <a href="@Url.Action("Index", "Products") "class="btn btn-info"">Back to Product List</a>
